body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

.recommendation {
    margin-bottom: 30px;
}

.recommendation img {
    width: 300px;
    /* Adjust as necessary */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}